<p>input-output works!</p>

<div class="w-[600px] flex justify-center">
    <app-alert [message]="'This is An Error'" [type]="'Error'"></app-alert>
</div>


<div class="w-[600px] flex justify-center">
    <app-alert [message]="'This is Success'" [type]="'Success'"></app-alert>
</div>


<div class="w-[600px] flex justify-center">
    <app-alert [message]="'This is info Box Alert'" [type]="'Info'"></app-alert>
</div>


<div class="w-[600px] flex justify-center">
    <app-alert [message]="'This is a Worning'" [type]="'Warning'"></app-alert>
</div>


