<p>reactive works!</p>
<form
    [formGroup]="studentForm"
    (ngSubmit)="onSubmit()"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md"
>
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="firstName">
            First Name
        </label>
        <input
            name="firstName"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="Enter first name"
            formControlName="firstName"
        />
        <div class="text-red-600">
            @if (studentForm.controls['firstName'].touched &&
            studentForm.controls['firstName'].errors?.['required']) {
            <span>First Name is Required</span>
            }@else if (studentForm.controls['firstName'].touched &&
            studentForm.controls['firstName'].errors?.['minlength']) {
            <span>First Name length must be 3 characters</span>
            }
        </div>
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="lastName">
            Last Name
        </label>
        <input
            name="lastName"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="Enter last name"
            formControlName="lastName"
        />
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="userName">
            Username
        </label>
        <input
            name="userName"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="Enter username"
            formControlName="userName"
        />
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="city">
            City
        </label>
        <input
            name="city"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="Enter city"
            formControlName="city"
        />
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="state">
            State
        </label>
        <select
            name="state"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="state"
        >
            <option value="">Select a state</option>
            <option value="Barisal">Barisal</option>
            <option value="Chittagong">Chittagong</option>
            <option value="Dhaka">Dhaka</option>
            <option value="Khulna">Khulna</option>
            <option value="Mymensingh">Mymensingh</option>
            <option value="Rajshahi">Rajshahi</option>
            <option value="Rangpur">Rangpur</option>
            <option value="Sylhet">Sylhet</option>
        </select>
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="zipcode">
            Zip Code
        </label>
        <input
            name="zipcode"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="Enter zip code"
            formControlName="zipcode"
        />
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="isActive">
            Is Active
        </label>
        <div class="flex items-center">
            <input
                formControlName="isActive"
                name="isActive"
                class="mr-2"
                type="checkbox"
            />
            <label for="isActive">Active</label>
        </div>
    </div>
    <div>
        {{ formValue | json }}
    </div>
    <div class="flex items-center justify-between">
      <!-- ngClass binding == with CommonModule -->
        <button
            type="submit"
            [disabled]="studentForm.invalid"
            [ngClass]="{
                'bg-blue-500 hover:bg-blue-700': !studentForm.invalid,
                'bg-gray-500 cursor-not-allowed': studentForm.invalid
            }"
            class="text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
            Submit
        </button>
        <!-- Class binding -->
        <!-- <button
            type="submit"
            [disabled]="studentForm.invalid"
            [class]="
                studentForm.invalid
                    ? 'bg-gray-500 cursor-not-allowed'
                    : 'bg-blue-500 hover:bg-blue-700'
            "
            class="text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
            Submit
        </button> -->

        <button
            class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="reset"
        >
            Reset
        </button>
    </div>
</form>
